<div class="bg-primary bg-opacity-10 rounded-3 p-4 p-sm-5">
  <!-- Title -->
  <h2 class="mb-3">Type your Event</h2>

  <!-- Form START -->
  <form class="row g-4 g-sm-3 mt-2 mb-0" [formGroup]="eventForm">
    <!-- Name -->
    <div class="col-12">
      <label class="form-label">Nom *</label>
      <input
        type="text"
        class="form-control"
        aria-label="nom"
        formControlName="nom"
      />
    </div>

    <div class="col-12">
      <label class="form-label">type *</label>
      <input
        type="text"
        class="form-control"
        aria-label="type"
        formControlName="type"
      />
    </div>

    <div class="col-12">
      <label class="form-label">nbrPlace *</label>
      <input
        type="number"
        class="form-control"
        aria-label="nbrPlace"
        formControlName="nbrPlace"
      />
    </div>

    <div class="col-12">
      <label class="form-label">date debut *</label>
      <input
        type="date"
        class="form-control"
        aria-label="date_deb"
        formControlName="date_deb"
      />
    </div>

    <div class="col-12">
      <label class="form-label">date fin *</label>
      <input
        type="date"
        class="form-control"
        aria-label="date_fin"
        formControlName="date_fin"
      />
    </div>

    <div class="col-12">
      <label class="form-label">lieu *</label>
      <input
        type="text"
        class="form-control"
        aria-label="lieu"
        formControlName="lieu"
      />
    </div>

    <!-- Name -->
    <div class="col-12">
      <label class="form-label">Select Image *</label>
      <input
        type="file"
        class="form-control"
        aria-label="image"
        (change)="onFileChangeClou($event)"
      />
    </div>

    <!-- Button -->
    <div class="col-12 d-grid">
      <button
        type="submit"
        class="btn btn-lg btn-primary mb-0"
        [disabled]="!eventForm.valid"
        (click)="saveEvent()"
      >
        submit
      </button>
    </div>
  </form>
  <!-- Form END -->
</div>
