<div class="bg-primary bg-opacity-10 rounded-3 p-4 p-sm-5">
  <!-- Title -->
  <h2 class="mb-3">Type your UE</h2>

  <!-- Form START -->
  <form class="row g-4 g-sm-3 mt-2 mb-0" [formGroup]="UniteEnseignementForm">
    <!-- Email -->
    <div class="col-12">
      <label class="form-label">Unite Enseignement Nom *</label>
      <input type="text" class="form-control" formControlName="nom" />
    </div>
    <!-- Button -->
    <div class="col-12 d-grid">
      <button
        type="submit"
        class="btn btn-lg btn-primary mb-0"
        [disabled]="!UniteEnseignementForm.valid"
        (click)="updateUniteEnseignement()"
      >
        submit
      </button>
    </div>
  </form>
  <!-- Form END -->
</div>
