<div class="bg-primary bg-opacity-10 rounded-3 p-4 p-sm-5">
  <!-- Title -->
  <h2 class="mb-3">Type your event</h2>

  <!-- Form START -->
  <form class="row g-4 g-sm-3 mt-2 mb-0" [formGroup]="eventForm">
    <!-- Name -->
    <div class="col-12">
      <label class="form-label">Event Name *</label>
      <input
        type="text"
        class="form-control"
        aria-label="nom"
        formControlName="nom"
      />
    </div>

    <!-- Name -->
    <div class="col-12">
      <label class="form-label">Event type *</label>
      <input
        type="text"
        class="form-control"
        aria-label="type"
        formControlName="type"
      />
    </div>
    <!-- Name -->
    <div class="col-12">
      <label class="form-label">Event lieu *</label>
      <input
        type="text"
        class="form-control"
        aria-label="lieu"
        formControlName="lieu"
      />
    </div>
    <!-- Name -->
    <div class="col-12">
      <label class="form-label">Event nbrPlace *</label>
      <input
        type="number"
        class="form-control"
        aria-label="nbrPlace"
        formControlName="nbrPlace"
      />
    </div>
    <div class="col-12">
      <label class="form-label">Event date debut *</label>
      <input
        type="date"
        class="form-control"
        aria-label="date_deb"
        formControlName="date_deb"
      />
    </div>
    <div class="col-12">
      <label class="form-label">Event date fin *</label>
      <input
        type="date"
        class="form-control"
        aria-label="date_fin"
        formControlName="date_fin"
      />
    </div>

    <!-- Button -->
    <div class="col-12 d-grid">
      <button
        type="submit"
        class="btn btn-lg btn-primary mb-0"
        [disabled]="!eventForm.valid"
        (click)="updateEvent()"
      >
        submit
      </button>
    </div>
  </form>
  <!-- Form END -->
</div>
